<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="radarMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <radarMap.Properties.Settings>
            <setting name="WUApi_Key" serializeAs="String">
                <value>Set your API Key here</value>
            </setting>
            <setting name="Center_Lat" serializeAs="String">
                <value>29.6516342</value>
            </setting>
            <setting name="Center_Lon" serializeAs="String">
                <value>-82.32483</value>
            </setting>
            <setting name="Radius" serializeAs="String">
                <value>100</value>
            </setting>
        </radarMap.Properties.Settings>
    </userSettings>
</configuration>